.uiResult:hover{	background-color: #ecf0f1;}



.uiResult .meta-helper:before {
	content: "";
	position: absolute;
	margin-top: -18px;
	margin-left: -120px;
		width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid #16a085;
}
.uiResult .meta-helper {

	display:none;
	position: absolute;
	background-color: #1abc9c;
	width: 300px;
	margin-left: -20px;
	margin-top: 30px;
	padding: 10px;
	border-top: 3px solid #16a085;
	z-index: 999;
}
.uiResult .meta-helper ul{ text-align: left; background-image: none!important;}
.uiResult .meta-helper ul li{ font-size: 0.8em!important; color: #fff; }
.uiResult:hover .meta-helper {
	display:block;
}

.svg-style { display: inline-block;}

.svg-style.svg-8 svg{width: 8px; height: 8px;}
.svg-style.svg-12 svg{width: 12px; height: 12px;}
.svg-style.svg-16 svg{width: 16px; height: 16px;}
.svg-style.svg-32 svg{width: 32px; height: 32px;}
.svg-style.svg-48 svg{width: 48px; height: 48px;}
.svg-style.svg-64 svg{width: 64px; height: 64px;}
.svg-style.svg-128 svg{width: 128px; height: 128px;}
.svg-style.svg-256 svg{width: 256px; height: 256px;}
.svg-style.svg-512 svg{width: 512px; height: 512px;}

div.ico {
	
	background-repeat: no-repeat;
	background-position: center center;
	
    background-size: 100px 150px !important;
	width: 250px; height: 250px;
}