@font-face { font-family: CabinSketch-Bold; src: url('../img/CabinSketch-Bold.otf'); }
@font-face { font-family: CabinSketch-Regular; src: url('../img/CabinSketch-Regular.otf'); }
@font-face { font-family: CabinSketch.txt; src: url('../img/CabinSketch.txt'); }
@font-face { font-family: FFF_Tusj; src: url('../img/FFF_Tusj.ttf'); }
@font-face { font-family: FFF_Tusj.txt; src: url('../img/FFF_Tusj.txt'); }
@font-face { font-family: Mathlete-Bulky; src: url('../img/Mathlete-Bulky.otf'); }
@font-face { font-family: Mathlete-BulkySlant; src: url('../img/Mathlete-BulkySlant.otf'); }
@font-face { font-family: Mathlete-Skinny; src: url('../img/Mathlete-Skinny.otf'); }
@font-face { font-family: Mathlete-SkinnySlant; src: url('../img/Mathlete-SkinnySlant.otf'); }
@font-face { font-family: Mathlete.txt; src: url('../img/Mathlete.txt'); }
@font-face { font-family: SIL Open Font License.txt; src: url('../img/SIL Open Font License.txt'); }
@font-face { font-family: edo; src: url('../img/edo.ttf'); }
